
<html>
    <head><title>Merchex</title></head>
    <body>
      <h1>Hello Django !</h1>
      <p>Mes groupes préférés sont :</p>
      <ul>
          <li>{{ first_band.name }}</li>
          <li>{{ bands.1.name }}</li>
          <li>{{ bands.2.name }}</li>

      </ul>
      <p>
          J'ai..
          {% if bands|length < 5 %}
              peu de
          {% elif bands|length < 10 %}
              quelques
          {% else %}
              beaucoup de
          {% endif %}
              groupes préférés.
      </p>

      <p>J'ai {{ bands|length }} groupes préférés.</p>
      <ul>
        {% for band in bands %}
        <li>{{ band.name|upper }}</li>
        {% endfor %}
      </ul>
            <!-- TODO : liste des groupes -->
    </body>
</html>
